.month-sale {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: uppercase;

}

.day-delivery-bold {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
}

.day-delivery {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.5rem;
}